<div class="card">
    <div class="card-header">
        Bachelor of Science in Computer Engineering
    </div>
    <div class="card-body">
      <h5 class="card-title">BSCOE</h5>
      <p class="card-text">In 3 to 5 years after graduation, graduates of the Bachelor of Science in Computer Engineering are
        expected to:

        demonstrate lifelong learning by generating innovative engineering solutions using significant and scientific research, complex problem-solving, relevant social and personal skills;
        be leaders and managers in the field of Computer Engineering by demonstrating exemplary performance in the chosen organization while upholding high standards of professional conduct that is right and just;
        be active members in professional societies and organizations as well as community-based organizations with the purpose of being advocates and transformers of the industry towards sustainable programs innovations.</p>
        
    </div>
  </div>