<!--Component 1 app-navi-->
<app-navi></app-navi>
<div class ="container-fluid">
  <div class="row g-2">
    <div class="col-3">
    <!--Component 2 Course-list -->
      <div class="p-3 border"><app-course-list></app-course-list></div>
    </div>
      <!--Course-info-->
    <div class="col-6">
      <div class="p-3 border"><app-course-info></app-course-info></div>
    </div>
       <!--Article -->
    <div class="col-3">
      <div class="p-3 border"><app-articles></app-articles></div>
    </div>
  </div>
</div>
<!---Contacts Info -->
<app-contacts-info></app-contacts-info>