<div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">BSIT</h5>
        <p class="card-text">A program for the foundation of developing professionals in the Information technology industry. This course teaches students on designing and implementing software or applications.</p>
        <p>{{courseDesc}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
         <h3>Student List:</h3>
          <p>Student Name:{{student.idNumber}}</p>
          <p>Student Name:{{student.name}}</p>
          <p>Student Added:{{student.dateAdded}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">BSCS</h5>
        <p class="card-text">A four-year program that includes the study of computing concepts and theories, algorithmic foundations, and new developments in computing.</p>
  
      </div>
    </div>

