<div class="card">
    <div class="card-header">
        Bachelor of Science in Computer Science
    </div>
    <div class="card-body">
      <h5 class="card-title">BSCS</h5>
      <p class="card-text">The Bachelor of Science in Computer Science (BSCS) program at UB includes the 
          study of computing concepts and theories, algorithmic foundations and new developments in 
          computing.  The program prepares students to design and create algorithmically complex software 
          and develop new and effective algorithms for solving computing problems.</p>
      
    </div>
  </div>